<div class='container'>
    <h1>Indychat</h1>
    <div class="row">
      <div class="col-md-6">  
        <form id='loginform' novalidate>
          <div class='form-group'>
            <label for="username" class="form-control-label">Username</label>
            <input type="text" id='username' name='username' placeholder="Username" class="form-control" required>
            <small class='help-block bg-danger'></small>
          </div>
          <div class='form-group'>
            <label for='password' class="form-control-label">Password</label>
            <input type="password" id="password" name='password' placeholder="Password" class="form-control" required>
            <small class="help-block">Password has at least three characters</small>
          </div>
          <div>
            <button class='btn btn-default btn-primary'>Log In</button>
          </div>
        </form>
        <a href="/showRegistration">New User</a>
    </div>
    <div id="login-alert" class="alert alert-danger col-md-3" role="alert" hidden="true">Invalid Login</div>
  </div>
</div>